<html>
	<head>
		<title>Welcome to Lucinda Framework 4.1</title>
        <link rel="stylesheet" type="text/css" href="/public/default.css"/>
	</head>
	<body>
		<div>
			<img src="https://www.lucinda-framework.com/cover.png"/>
			<p>Welcome to Lucinda 4.1: ultra high performance PHP framework, developed with simplicity and modularity at its foundation!</p>
			<p><a href="https://www.lucinda-framework.com/installation#configuring">CONFIGURATION</a> | <a href="https://www.lucinda-framework.com/documentation">DOCUMENTATION</a> | <a href="https://www.lucinda-framework.com/tutorials">TUTORIALS</a></p>
		</div>
	</body>
</html>
