RewriteEngine on
Options -Indexes
ErrorDocument 404 default
RewriteCond %{REQUEST_URI} !^/public
RewriteCond %{REQUEST_URI} !^/favicon.ico
RewriteRule ^(.*)$ index.php
SetEnv ENVIRONMENT local
